html {
 box-sizing: border-box;
 font: normal 100%/1.5;
}

body{
	margin: 0;
	padding: 0;
}
.logo {
	background-image: url("../img/logo.png");
	background-size: 35px auto;
	background-repeat: no-repeat;
	background-position:  center center;


}

.orange {
	color: rgb(255, 48, 0);
	text-align: right;
	font-size: 1.5rem;
	line-height: 1.8729;
	font-family: 'Merriweather', serif;
	padding-right: 1rem;
	margin-bottom: 0rem;
}

.white {
 color: white;
 text-align: center;
 font-family: 'Merriweather', serif;
}


.hero {

	max-height: 75vh
	position: relative;
	overflow: hidden;
	background: 
	linear-gradient(to top, rgba(0,0,0,0.5), transparent) no-repeat center bottom / 100% 50%,
	url("../img/lava-main.jpg") no-repeat center top / cover;
	padding-top: 43.25%;
}

.hero-content {
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 65%;

	font-size: 3.5rem;
	text-position: top right;
	text-align: center;
	text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgb(0,0,0,0.8);

}

.nav {

	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #F5785A;
	display: none;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 0.8rem;
}

.nav a {

	display: block;
	padding: 0.3rem;
	text-decoration: none;
	color: #000;
}

.nav a:hover {

	background-color: #333;
	color: #fff;
}

.nav-check{
	position: absolute;
	top: -3rem;


}

.nav-check:checked ~ .nav {

	display: block;
}


.nav-label {
	cursor: pointer;
	font-size: 1.25rem;
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	right: 0;
	bottom: 0;
	background-image: url("../img/navButton.svg");
	background-repeat: no-repeat;
	background-size: 53px auto;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	padding-right: 20%;
	padding-left: 30%;

}

.nav-check:checked ~ .nav-label {

	background-color: #ccc;
	background-position: center bottom;
}

@media only screen and (min-width: 20em) {
	.nav-label {

		display: inline-block;
		width: 50%;
	}
}










