html {
 box-sizing: border-box;
 font: normal 100%/1.5;
}

body{
	margin: 0;
}

.orange{
	color: rgb(255, 97, 0);
}


.hero {

	position: relative;
	max-height: 100vh
	overflow: hidden;
	background: url("../img/lava-main.jpg") no-repeat center top / cover;
	padding-top: 56.25%;
}

.hero-content {
	padding: 0 1rem;
	position: absolute;
	width: 100%;
	bottom: 15%;

	font-size: 4rem;
	text-align: center;
	text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgb(0,0,0,0.8);
}4